.cart_items{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	textalign: center;
	color: orange ;
}

.checkout{
	margin: 10px;
	textalign: center;
}

#cart_wrapper{
	textalign: center;
	width: 100%;
}