// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drinkName{
	font-size: 16pt;
}

.drinkImage{
	width: 170px;
	height: 170px;
	background-size: contain;
	background-repeat: no-repeat;
}